div{
    background-color: blue;
}
div {background-color: pink}

table, th, td{
border: solid 1px black;
}

*{
    background-color: aqau;
    border:solid 2px pink;
}
/* .email {background-color: blue} */
/* id to use color different from the rest of code */

/* ul li {
    
} */
/* div > h1 */